<div class="container">
    <h2>ID Carrito: {{cartId}}</h2>
    <ul>
        {{#each cart.products}}
        <li>
            <div class="margin">
                <p>Nombre de Producto: {{this.title}}</p>
                <p>ID Producto: {{this.productId}}</p>
                <p>Código de Producto: {{this.code}}</p>
                <p>Cantidad en Carrito: {{this.quantity}}</p>
            </div>
            <form action="/cart/{{../cartId}}/product/{{this.productId}}" method="post" data-method="DELETE">
                <input type="submit" value="Eliminar producto del carrito">
            </form>
        </li>
        {{/each}}
    </ul>
    <a href="/users">Volver</a>
    {{#if showButton}}
    <form action="/cart/{{cartId}}/purchase" method="post">
        <input type="submit" value="Finalizar Compra">
    </form>
    {{/if}}
</div>