<div class="container">
    <h2>ID Carrito: {{cart.id}}</h2>
    <ul>
        {{#each cart.products}}
        <li>
            <div class="margin">
                <p>Nombre de Producto: {{this.title}}</p>
                <p>ID Producto: {{this.productId}}</p>
                <p>Código de Producto: {{this.code}}</p>
                <p>Cantidad en Carrito: {{this.quantity}}</p>
            </div>
        </li>
        {{/each}}
    </ul>
    <a href="/">Volver</a>
</div>