<div class="container">
    <h2>Lista de usuarios</h2>
    <form action="/users" class="margin" method="post" data-method="DELETE">
        <input type="submit" value="Eliminar Usuarios Inactivos">
    </form>
    <div class="gridForUser">
        {{#each users}}
        <div class="userCard">
            <div>
                <p><span>Nombre: </span>{{this.firstName}}</p>
                <p><span>Apellido: </span>{{this.lastName}}</p>
                <p><span>Email: </span>{{this.email}}</p>
                <p><span>ID: </span>{{this.id}}</p>
                <p><span>Rol: </span>{{this.rol}}</p>
            </div>
            <div>

                <a href="/users/{{this.id}}">Más información</a>
            </div>
        </div>
        {{/each}}
    </div>
    <a href="/users/profile">Volver</a>
</div>