<div class="container home">
    {{#each products}}
    <div class="card" style="width: 18rem;">
        <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text">${{price}}</p>
            <p class="card-text">Stock: {{stock}}</p>
            <p class="card-text">Código: {{code}}</p>
        </div>
    </div>
    {{/each}}
</div>