<div class="container">
    {{#each product}}
    <div class="product">
        <h2>{{title}}</h2>
        <img src="../{{thumbnail}}" alt="imagen de {{title}}">
        <div class="product__info">
            <p>{{description}}</p>
            <p>Precio: {{price}}</p>
            <p>Stock: {{stock}}</p>
            <p>Código: {{code}}</p>
            <p>ID: {{id}}</p>
            <form action="/api/products/{{id}}" id="formProductToCart" method="post">
                <input id="addToCart" type="submit" value="Agregar al Carrito">
            </form>
        </div>
        <a href="/api/products">Volver</a>
    </div>
    {{/each}}
</div>