<div class="container__header">
    <h1>Productos</h1>
    {{#if isLoggedIn}}
    <h3>¡Hola, {{firstName}} {{lastName}}!</h3>
    {{/if}}
</div>

<div class="container__filters">
    <form id="urlFilter" class="filter">
        <label>
            Ordenar por:
            <select name="sort">
                <option value="">Sin Orden</option>
                <option value="asc">Menor Precio</option>
                <option value="desc">Mayor Precio</option>
            </select>
        </label>
        <label>
            Categoría:
            <select name="category">
                <option value="">Todas las categorías</option>
                <option value="celulares">Celulares</option>
                <option value="laptops">Laptops</option>
                <option value="auriculares">Auriculares</option>
                <option value="camaras">Cámaras</option>
                <option value="relojes">Relojes</option>
                <option value="impresoras">Impresoras</option>
                <option value="monitores">Monitores</option>
            </select>
        </label>
        <label>
            Disponibilidad:
            <input type="checkbox" name="availability" value="true"> Disponible
        </label>
        <label>
            Productos por página:
            <input type="number" max="20" min="1" name="limit" value="10">
        </label>
        <button type="submit">Buscar</button>
    </form>
</div>

<div class="container products">
    {{#each products.payload}}
    <div class="card" style="width: 18rem;">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="{{this.title}}">
        <div class="cart-body">
            <h4 class="card-title">{{this.title}}</h4>
            {{#if isLoggedIn}}
            <p class="card-text">Precio: {{this.price}}</p>
            {{/if}}
            <p class="card-text">Descripción: {{this.description}}</p>
            <p class="card-text">Stock: {{this.stock}}</p>
            <p class="card-text">ID: {{this.id}}</p>
            <a href="/products/{{this.id}}">Ver</a>
        </div>
    </div>
    {{/each}}

    <div class="container pages">
        {{#if products.hasPrevPage}}
        <p>Página actual: {{products.page}}</p>
        <a href="{{products.prevLink}}">Anterior</a>
        {{/if}}

        {{#if products.hasNextPage}}
        <p>Página actual: {{products.page}}</p>
        <a href="{{products.nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>