<div class="container">
    {{#each product}}
    <div class="product">
        <h2>{{title}}</h2>
        <img src="../{{thumbnail}}" alt="imagen de {{title}}">
        <div class="product__info">
            <p>{{description}}</p>
            {{#if isLoggedIn}}
            <p>Precio: {{price}}</p>
            {{/if}}
            <p>Stock: {{stock}}</p>
            <p>Código: {{code}}</p>
            <p>ID: {{id}}</p>
            {{#if isLoggedIn}}
            <form action="/cart/{{cartId}}/products/{{id}}" id="formProductToCart" method="post">
                <input id="addToCart" type="submit" value="Agregar al Carrito">
            </form>
             {{/if}}
        </div>
        <a href="/products">Volver</a>
    </div>
    {{/each}}
</div>