<div class="container margin">
    <h1>Hola {{user.firstName}} {{user.lastName}}</h1>
    <h2>Datos del perfil:</h2>
    <p>Edad: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.rol}}</p>
    <a href="/">Inicio</a>
</div>