<div class="container">
    <div class="userFrame">
        {{#each user}}
        <div class="flex">
            <div class="userFrame__info">
                <h3>{{firstName}} {{lastName}}</h3>
                <p><span>User ID: </span>{{id}}</p>
                <p><span>Email: </span>{{email}}</p>
                <p><span>Rol: </span>{{rol}}</p>
                <p><span>Cart ID: </span>{{cartId}}</p>
                <p><span>Cantidad de documentos actualizados: </span>{{documents}}</p>
            </div>

            {{#if picture}}
            <img src="{{picture}}" alt="Imagen de perfil" class="userFrame__img">
            {{/if}}
        </div>

        <form action="/users/premium/{{this.id}}" method="post" class="margin">
            <input type="submit" value="Actualizar Rol">
        </form>

        <form action="/users/{{this.id}}" method="post" class="margin">
            <input type="submit" value="Eliminar Usuario">
        </form>

        {{/each}}
        <a class="margin" href="/users/getUsers">Volver</a>
    </div>
</div>